{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hey, it's Sam! I'm a Python Developer who started off on a different path. Tech stole my heart, and here
          I am, diving into Python, data stuff, and having a blast turning ideas into cool projects.
          Exploring the dynamic realms of data analysis, web development, data science, and AI, I'm on a mission to
          translate my enthusiasm into projects and valuable experiences.
        </p>
        <p>
          This blog is more than just a collection of posts, it's a way to stay in tune with the rapid changes in the
          tech world. I aim to share not only my projects but also insights and knowledge gleaned from my own
          experiences. Whether you're starting your tech journey or seeking ways to enhance your skills, this space is
          crafted to provide value and foster a community of like-minded tech enthusiasts.
        </p>
        <p>
          Beyond the lines of code, I find joy in watching football, maintaining an active lifestyle, and delving into
          captivating autobiographies. These activities, along with my newfound hobby of crafting blogs, serve as a
          balance to my tech-centric pursuits. Join me in this space where technology, insights, and personal interests
          converge, creating a holistic and engaging experience. Let's explore, learn, and grow together in the vast
          world of tech!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
